#container {
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 4rem;
    margin: 3vh auto auto auto;
}

#headline {
    margin-top: 10vh;
}

.formControl {
    display: block;
}

#confirmBtn {
    margin-top: 2rem;
    margin-left: auto;
}

#btnContainer {
    text-align: right;
}

#footer {
    margin-top: 2rem;
}

#errorIconContainer {
    text-align: center;
}

#errorMessage {
    margin-top: 2rem;
}
