.player-container {
    margin: 1rem auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.topic-container {
    width: 90vw;
    max-width: 700px;
    margin: 3rem auto;
}

.question {
    margin-bottom: 3rem;
}

.question span, .question p, .opinion-box-container p, .introduction-text {
    font-size: 1.2rem !important;
}

.introduction-text {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.question-container {
    padding: 3rem;
}

.opinion-box-container {
    padding: 3rem !important;
}

.secondary-title {
    margin-bottom: 1rem;
    color: black;
}

.options-container {
    margin-left: 2rem !important;
    margin-top: 1rem !important;
}

.answer-container {
    padding-left: 3rem;
    padding-right: 3rem;
}

.title {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}